{% extends "VendPheatBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/contact.css') }}" rel="stylesheet" />
{% endblock %}

{% block vend_pheat_content %}
    {{ include('VendPheatBundle:Management:header.html.twig') }}

    <table class="vend_pheat_features">
        <tbody>
            <tr>
                <th rowspan="2">Feature Name</th>
                <th colspan="{{ providers|length }}">Providers</th>
            </tr>
            <tr>
                {% for provider in providers %}
                    <th>{{ provider.getName|humanize }}</th>
                {% endfor %}
            </tr>
            {% for name, active_features in features.getAll %}
                <tr class="vend_pheat_feature">
                    <td>{{ name }}</td>
                    {% for provider in providers %}
                        {{
                            render(controller('VendPheatBundle:Management:feature', {
                                'feature':  name,
                                'provider': provider.getName
                            }))
                        }}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock vend_pheat_content %}
