{% extends "VendPheatBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/contact.css') }}" rel="stylesheet" />
{% endblock %}

{% block vend_pheat_content %}
    {{ include('VendPheatBundle:Management:header.html.twig') }}

    <form action="{{ path('vend_pheat_management_set_features') }}" method="post">
        <table class="vend_pheat_features">
            <tbody>
                <tr>
                    <th rowspan="2">Feature Name</th>
                    <th colspan="{{ providers|length }}">Providers</th>
                </tr>
                <tr>
                    {% for provider in providers %}
                        <th>{{ provider.getName|humanize }}</th>
                    {% endfor %}
                </tr>
                {% for name, _ in features.getAll %}
                    <tr class="vend_pheat_feature">
                        <td>{{ name }}</td>
                        {% for provider in providers %}
                            {{ content[name][provider.getName]|raw }}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="vend_pheat_features_save">
            <input type="submit" value="Save Changes" />
        </div>
    </form>
{% endblock vend_pheat_content %}
